@model IEnumerable<ObservaTerra.DomainModel.Observation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Observations list</h2>

@Html.ActionLink("New observation", "Create", null, new { @type = "button", @class = "btn btn-primary btn-lg glyphicon-plus btn-sm" })
<table style="width:100%">
    <tr>
        <th>
            <b>ID</b>
        </th>
        <th>
            <b>Title</b>
        </th>
        <th>
            <b>Author</b>
        </th>
        <th>
            <b>Creation date</b>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("ID" + item.Id, "Details", "Observations", new { id = item.Id }, null)
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.UserAuthor.Name
            </td>
            <td>
                @item.CreationDate
            </td>
        </tr>
    }

</table>